:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

div#root {
  width: 100%;
}@media (max-width: 1200px) {
  .image-column.MuiBox-root.css-1q8s8cw {
    display: none;
  }
}


@media (max-width: 1800px) {
  img.MuiBox-root.css-dvuug1 {
    width: 90%!important;
  }
}
.css-17haacb-MuiButtonBase-root-MuiButton-root{
  border-radius: 21px!important;
    width: 57%!important;
    margin: 0 auto!important;
 
    text-align: center!important;
    margin-left: 5.2pc!important;
    align-items: center!important;
    background: #207DB5!important;
}img.facebooklogo.MuiBox-root.css-1aox1q8 {
  transform: scale(1.5);
}

.or-line {
  color: #b3a5a5;
}

p.MuiTypography-root.MuiTypography-body2.MuiTypography-alignCenter.continue-subtitle.css-1jwxipj-MuiTypography-root {
  font-size: 0.8rem;
    width: 69%;
    text-align: center;
    margin: 0 auto;
    margin-top: 1pc;
}

.css-16wblaj-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 21.5px 14px;
  height: 0.4em;
}.image-column.MuiBox-root.css-1q8s8cw {
  transform: rotate(-8deg);

}


@media (min-width: 1580px) {
  .image-column.MuiBox-root.css-1q8s8cw  {
    top: -14pc;
  }
  }
.MuiBox-root.css-1ba8zzs {
  height: 905px;
}
.MuiBox-root.css-1bkx08x {
  overflow: hidden;
}/* Estilo para o efeito de zoom nas imagens ao passar o mouse */
.image-column img {
  transition: transform 0.3s ease, filter 0.3s ease;
}

.image-column img:hover {
  transform: scale(1.1); /* Aumenta a imagem quando o mouse passa por cima */
  filter: brightness(1.2); /* Aumenta o brilho */
}

/* Estilo para movimentar as imagens entre as colunas */
@keyframes moveImages {
  0% {
      transform: translateX(0);
  }
  50% {
      transform: translateX(10px); /* Move um pouco para a direita */
  }
  100% {
      transform: translateX(0);
  }
}

/* Aplica a animação de movimento nas colunas */
.first-column, .second-column, .third-column {
  display: flex;
  flex-direction: column;
  animation: moveImages 5s infinite ease-in-out; /* Animação contínua */
}

/* Animação para suavizar a transição entre as imagens */
.first-column img, .second-column img, .third-column img {
  transition: transform 0.3s ease;
}

form.MuiBox-root.css-145tsb0 {
  max-width: 400px;
  width: 100%;
  padding: 19px;
  background-color: #fff;
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  
  
}

@media (MIN-width: 1200px) {
  form.MuiBox-root.css-145tsb0 {


  }
  }


.passwordBar {
  margin-top: 0px;
  width: 62%;
  margin-bottom: 2pc;
}

input#\:r7\: {
  height: 7px;
}

input#\:r9\: {
  background: #f2f2f2;
  height: 7px;
}

.css-19qnlrw-MuiFormLabel-root-MuiInputLabel-root {
  font-size: 14px!important;
  line-height: 0.8rem!important;
}

.css-1umw9bq-MuiSvgIcon-root {
  transform: scale(0.7);
  padding-top: 21px;
  color: #d8c7c7;
}

.css-1lxs7o0 {
    width: 23%;
    height: 5px!important;
}

.css-nws3uu-MuiTypography-root {
  margin-bottom: -21px!important;
}

.css-16wblaj-MuiInputBase-input-MuiOutlinedInput-input {
  height: 3px !important;
  color: #635a5a !important;
  font-size: 13px !important;
}

.css-1olaq31 {
  margin-top: 0px!important;
}

.sub-progress {
  margin-top: -28px!important;
  margin-bottom: 1pc!important;
  font-size: 10px!important;
}

.css-pdq02v {
  margin-bottom: 3px!important;
}

.css-19znlxf-MuiTypography-root {
  margin-bottom: -9px!important;
  color: #000!important;
}

.principal-input {
  background: #f7f7f7;
}